@font-face {
    font-family: "Mark-Pro";
    src: url(./fonts/Mark_Pro_Medium/Mark_Pro_Medium.ttf);
}

body{
    font-family: 'Mark-Pro';
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/*les sections*/

.sect-1{
    background-color: #2980B9;
    padding: 30px;
}
.sect-2{
    background-color: #fff;
    padding: 20px;
}


.sect-3{   
    background-color: #5D6D7E;
    padding: 20px;
}

.sect-4{
  background-color: #fff;
  padding: 20px;
}

.sect-5{
  background-color: #161616;
  padding: 20px;

}
/*les titres*/

.sect-2, .sect-4 h1{
  color:#000;
}

h1{
    text-align: center;
    font-size: 22px;
    color: #fff;
}

h2{
    font-size: 17px;
    color: #fff;
}

/*les liens*/

a{  
    text-decoration: none;
}

/*---------------BOUTONS A EFFET REMPLISSAGE #1---------------*/

/*parent*/

.btn-div_one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

/*stylisation des différents boutons*/

.btn-one, .btn-two, .btn-three, .btn-four{
    color:#fff;
    font-size:1.2em;
    font-family:"Mark Pro", sans-serif;
    border: 1px solid white;
    padding: 10px 8px;
    z-index:0;
    position: relative;
    overflow: hidden;
  }

  /*bottom to top*/

  .btn-one::before{
    content: '';
    background: #F9664E;
    position:absolute;
    top:60px;
    left:0px;
    height: 100%;
    width:100%;
    border-radius: 50% 50% 0 0;
    z-index: -1;
    transition: all .5s;
  }
  
  .btn-one:hover::before{
    top:0px;
    border-radius: 0;
    
  }

  /*Top to bottom*/
  .btn-two::before
  {
    content: '';
    background: #892cdc;
    position:absolute;
    bottom:60px;
    left:0px;
    height: 100%;
    width:100%;
    border-radius: 0 0 50% 50%;
    z-index: -1;
    transition: all .5s;
  }
  
  .btn-two:hover::before{
    bottom:0px;
    border-radius: 0;
  }


   /*Left to right*/
   .btn-three::before
   {
     content: '';
     background: #892cdc;
     position:absolute;
     top:0px;
     left:-120px;
     height: 100%;
     width:100%;
     border-radius: 0 18% 18% 0;
     z-index: -1;
     transition: all .5s;
   }
   
   .btn-three:hover::before{
     left:0px;
     border-radius: 0;
   }

   /*Right to left*/
   .btn-four::before
   {
     content: '';
     background: #F9664E;
     position:absolute;
     top:0px;
     left:120px;
     height: 100%;
     width:100%;
     border-radius: 20% 0% 0% 20%;
     z-index: -1;
     transition: all .5s;
   }
   
   .btn-four:hover::before{
     left:0px;
     border-radius: 0;
   }

  /*-----------BOUTONS A EFFET REMPLISSAGE #2-------------*/

  .btn_fill{
    background: none;
    border: 2px solid #000;
    font-family: "Mark Pro";
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    z-index: 10000;
    transition:color 0.4s linear;
    position: relative;
  }

  .btn_fill:hover{
    color: #fff;
  }

  .btn_fill::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0; 
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  }

  .btn_fill1::before{
    transform: scaleX(0);
  }
  .btn_fill2::before{
    transform: scaleY(0);
  }
  .btn_fill1:hover::before{
    transform: scaleX(1);
  }
  .btn_fill2:hover::before{
    transform: scaleY(1);
  }
  
   /*BOUTONS AVEC EFFET DEGRADE*/

   .btn{
    border: none;
    padding: 24px;
    width: 170px;
    margin: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-family:"Mark Pro";
    font-size: 17px;
    background-size: 200%;
    transition: 0.6s;
   } 

   .btn1{
    background-image: linear-gradient(to right, #6dd5ed, #2193b0);
   }
   .btn2{
    background-image: linear-gradient(to right, #f12711, #f5af19);
   }
   .btn3{
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
   }
   .btn4{
    background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
   }

   .btn:hover{
    background-position: right;
   }


   /*----------BOUTON AVEC EFFETS AVANCES---------*/

   .diff-btn{
    padding: 20px 50px;
    font-size:1.25rem;
    position: relative;
   }


   /*Bouton 1*/

   .diff-btn1{
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    transition: transform 0.3s ease;
   }

   .diff-btn1::after, .diff-btn1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom:0;
    z-index: -1;
    transition: transform 0.3s ease;
   }

   .diff-btn1:hover{
    transform: translate(-12px, -12px);
   }

   .diff-btn1:hover::after{
    transform: translate(6px, 6px);
   }
   .diff-btn1:hover::before{
    transform: translate(12px, 12px);
   }


    /*Bouton 2*/

    .diff-btn2{
      color:#000;
    }

    .diff-btn2::after, .diff-btn2::before{
      border: 3px solid #000;
      content: "";
      position: absolute;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      left: 0;
      bottom: 0;
      transition: transform 0.3s ease;
    }

    .diff-btn2:hover::after{
      transform: translate(-5px, -5px);
    }
    .diff-btn2:hover::before{
      transform: translate(5px, 5px);
    }

    /*bouton 3*/

    .diff-btn3{
      overflow: hidden;
      color: #fff;
      z-index: 1;
      border-radius:30px;
      box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200 , 255, 0.5);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .diff-btn3::after{
      content: "";
      position: absolute;
      width: 400px;
      height: 400px;
      top: -50px;
      left: -100px;
      background-color: #ff3cac;
      background-image: linear-gradient(225deg,#27d86c 0%, #26caf8 50%, #c625d0 100%);
      transition: transform 0.5s ease;
      z-index: -1;
    }

    .diff-btn3:hover{
      transform: translate(0, -6px);
      box-shadow:10px -10px 25px 0 rgba(143, 64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200 , 255, 0.5);
    }

    /*-----BOUTON HAMBURGER MENU ANIME-------*/

    .menu-btn{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      border: 3px solid #fff;
    }

    .menu-btn_hamburger{
      width: 50px;
      height: 6px;
      background:#fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
      transition: all .5s ease-in-out;
    }

    .menu-btn_hamburger::before,
    .menu-btn_hamburger::after{
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background: #FFF;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
      transition: all .5s ease-in-out;
    }

    .menu-btn_hamburger::before{
      transform: translateY(-16px);
    }
    .menu-btn_hamburger::after{
      transform: translateY(16px);
    }

    .menu-btn.open .menu-btn_hamburger{
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }

    .menu-btn.open .menu-btn_hamburger::before{
      transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn_hamburger::after{
      transform: rotate(-45deg) translate(35px, 35px);
    }