<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/buttons.css">
    <title>Les Boutons</title>
</head>
<body>
    <section class="sect-1">
        <!--Button fill on hover (effet remplissage)-->
    <h1>Bouton à effet remplissage #1</h1>
        <div class="btn-div_one">
            <a href="#" class="btn-one">Bottom-top</a>
            <a href="#" class="btn-two">Top-bottom</a>
            <a href="#" class="btn-three">Left-right</a>
            <a href="#" class="btn-four">Right-left</a>
        </div> 
        
    </section>

    <section class="sect-2">
          <!--Button fill on hover (effet remplissage)-->
    <h1>Bouton à effet remplissage #2</h1>
    <div class="btn-div_one">
        <button class="btn_fill btn_fill1">Hover me</button>
        <button class="btn_fill btn_fill2">Hover me</button>
    </div>
    </section>

    <section class="sect-3">
         <!--Button with gradient animation (effet dégradé avec animation)-->
    <h1>Bouton à effet dégradé avec animation</h1>
        <div class="btn-div_one"> 
            <button class="btn btn1">Hover me</button>
            <button class="btn btn2">Hover me</button>
            <button class="btn btn3">Hover me</button>
            <button class="btn btn4">Hover me</button>
        </div>     
    </section>
</body>
</html>