<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/flexbox.css">
    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Highlight -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css" integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Les classes flexbox</title>
</head>
<body>
    <div class="container" id="container">
        <a href="../Download/Keepwell_flexbox.css"  class="text-center m-5 p-5" download>Télécharger le fichier de classe flexbox <i class="bi bi-download"></i></a>
    </div>
    <!-- HighLight -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/css.min.js" integrity="sha512-xR3r57wYgwm5sn+JFRs5G8aNXMYSdxRGGrs1slFiVtREckY/+aBUNrhkn/4XpbTLke39koHzUIcotRI4Ka0Bpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Copier dans le presse papier -->
    <script src="../js/CopyText.js"></script>
    <!-- afficher le code -->
    <script src="../js/flexbox.js"></script>
</body>
</html>