<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/hr.css">
    <title>Les Barres Horizontales (Hr)</title>
</head>
<body>
    <section class="sect-1">
        <!--Section pour les barres horizontales avec les styles css de base-->
        <h1>Barres Horizontales</h1>
        <h2>Defaut</h2>
        <hr class="solid">
        <h2>Pointillés</h2>
        <hr class="dashed">
        <h2>Tirets</h2>
        <hr class="dotted">
        <h2>Arrondis</h2>
        <hr class="rounded">
    </section>
    <section class="sect-2">
        <!--Section pour les barres horizontales avec les styles css différents-->
        <h1>Barres Verticales</h1>
        <div class="wrapper">
        <h2>Defaut --></h2>
        <div class="vertical-default"></div>
        <h2>Tirets --></h2>
        <div class="vertical-dashed"></div>
        <h2>Arrondis --></h2>
        <div class="vertical-rounded"></div>
        <h2>Pointillés --></h2>
        <div class="vertical-dotted"></div>
        </div>      
    </section>
</body>
</html>